# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AsteroidsNetBeansUpdate/CommonEnemy/target/
/AsteroidsNetBeansUpdate/OSGiAsteroid/target/
/AsteroidsNetBeansUpdate/CommonAsteroid/target/
/AsteroidsNetBeansUpdate/mavenproject1/CommonPlayer/target/
/AsteroidsNetBeansUpdate/OSGiAsteriodSplitter/target/
/AsteroidsNetBeansUpdate/CommonBullet/target/
/AsteroidsNetBeansUpdate/CommonPlayer/target/
/AsteroidsNetBeansOSGi/CommonAsteroid/target/
/AsteroidsNetBeansOSGi/CommonBullet/target/
/AsteroidsNetBeansOSGi/CommonEnemy/target/
/AsteroidsNetBeansOSGi/CommonPlayer/target/
/AsteroidsNetBeansOSGi/OSGiAsteriodSplitter/target/
/AsteroidsNetBeansOSGi/OSGiAsteroid/target/
/AsteroidsNetBeansOSGi/application/target/
/AsteroidsNetBeansOSGi/branding/target/
/AsteroidsNetBeansOSGi/Enemy/target/
/AsteroidsNetBeansOSGi/SilentUpdate/target/
/AsteroidsNetBeansOSGi/Common/target/
/AsteroidsNetBeansOSGi/Player/target/
/AsteroidsNetBeansOSGi/Asteroid/target/
/AsteroidsNetBeansOSGi/Bullet/target/
/AsteroidsNetBeansOSGi/Collision/target/
/AsteroidsNetBeansOSGi/Core/target/
/AsteroidsNetBeansOSGi/OSGiExtender/target/
/AsteroidsNetBeansOSGi/OSGiEnemy/target/
/AsteroidsNetBeansSilentUpdater/application/target/
/AsteroidsNetBeansSilentUpdater/branding/target/
/AsteroidsNetBeansSilentUpdater/Asteroid/target/
/AsteroidsNetBeansSilentUpdater/Bullet/target/
/AsteroidsNetBeansSilentUpdater/Collision/target/
/AsteroidsNetBeansSilentUpdater/Common/target/
/AsteroidsNetBeansSilentUpdater/CommonAsteroid/target/
/AsteroidsNetBeansSilentUpdater/CommonBullet/target/
/AsteroidsNetBeansSilentUpdater/CommonEnemy/target/
/AsteroidsNetBeansSilentUpdater/CommonPlayer/target/
/AsteroidsNetBeansSilentUpdater/Core/target/
/AsteroidsNetBeansSilentUpdater/Enemy/target/
/AsteroidsNetBeansSilentUpdater/OSGiAsteriodSplitter/target/
/AsteroidsNetBeansSilentUpdater/OSGiAsteroid/target/
/AsteroidsNetBeansSilentUpdater/OSGiEnemy/target/
/AsteroidsNetBeansSilentUpdater/OSGiExtender/target/
/AsteroidsNetBeansSilentUpdater/Player/target/
/AsteroidsNetBeansSilentUpdater/SilentUpdate/target/
/AsteroidsNetBeansSpring/PlayerCreator/target/